.filterElement {
    margin-bottom: 16px;
}

.filterElementName {
    margin-bottom: 5px;
}

.dropdown {
    width: 100%;
}

.dropdownTitle {
    margin-bottom: 20px;
    font-weight: bold;
}

.filterFormInput {
    display: flex;
    height: 40px;
    font-size: 16px;
    color: black;
    width: 100%;
    padding: 10px 16px;



    border-radius: 8px;
    border: 1px solid var(--border-default, #E1E3E6);

}

.dropdownBtn {
    display: flex;
    height: 40px;
    padding: 10px 16px;
    color: rgb(105, 105, 105);

    border-radius: 8px;
    border: 1px solid var(--border-default, #E1E3E6);
    justify-content: space-between;
}

.dropdownContent {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 15px;
    width: 95%;
    border-radius: 8px;
    border: 1px solid var(--border-default, #E1E3E6);
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdownItem:hover {
    background: #fcfcfc;
}